[submodule "evalverse/submodules/FastChat"]
	path = evalverse/submodules/FastChat
	url = https://github.com/UpstageAI/evalverse-FastChat.git
	branch = main
[submodule "evalverse/submodules/IFEval"]
	path = evalverse/submodules/IFEval
	url = https://github.com/UpstageAI/evalverse-IFEval.git
	branch = main
[submodule "evalverse/submodules/EQBench"]
	path = evalverse/submodules/EQBench
	url = https://github.com/UpstageAI/evalverse-EQBench.git
	branch = main
